@model SistemaPracticasAcademicas.Models.Usuario
@{ Layout = "AdminLayout";}
<section class="content">
    <div class="scrollable">
        <form class="modal-form" action="~/Admin/Docentes/Eliminar" method="post">
            @if (Model.IdRol == 2)
            {
            <input type="hidden" name="Id" value="@Model.Id" />
            <h1>@Html.ValidationSummary()</h1>
            <div class="btn-si-no">
                <button type="button" style="margin:10em auto;" class="btnAceptar" onclick="window.location.href='/Admin/Docentes';">ACEPTAR</button>
            </div>
            }
            else
            {
            <input type="hidden" name="Id" value="@Model.Id" />
            <h1>¿Está seguro que desea eliminar al @Model.IdRolNavigation.Rol @Model.Nombre?</h1>
            <p class="msgError">
                @Html.ValidationSummary()
            </p>
            <div class="buttons">
                <input type="submit" class="btnAceptar" value="ACEPTAR">
                <button type="button"  class="btnCancelar" onclick="window.location.href='/Admin/Docentes';">CANCELAR</button>
            </div>
            }
        </form>
    </div>
</section>  